:root {
  --background: #001514;
  --text: #fbfffe;
  --primary: #97cc04;
  --grey: #788585;
  --grey-transparent: rgba(120, 133, 133, 0.5);
  --success: #00b74a;
  --warning: #ffa900;
  --error: #f93154;
  --toastify-color-dark: #001514;
  --toastify-color-light: #fbfffe;
  --toastify-color-info: #97cc04;
  --toastify-color-success: #00b74a;
  --toastify-color-warning: #ffa900;
  --toastify-color-error: #f93154;
  --toastify-color-progress-info: linear-gradient(to right, #001514, #97cc04);
  --toastify-color-progress-success: linear-gradient(
    to right,
    #001514,
    #00b74a
  );
  --toastify-color-progress-warning: linear-gradient(
    to right,
    #001514,
    #ffa900
  );
  --toastify-color-progress-error: linear-gradient(to right, #001514, #f93154);
  --toastify-color-progress-default: linear-gradient(
    to right,
    #001514,
    #fbfffe
  );
  --toastify-color-progress-dark: linear-gradient(to right, #001514, #fbfffe);
  --toastify-color-progress-light: linear-gradient(to right, #001514, #fbfffe);
  --toastify-color-icon-default: #fbfffe;
  --toastify-color-icon-dark: #001514;
  --toastify-color-icon-light: #fbfffe;
  --toastify-color-icon-info: #97cc04;
  --toastify-color-icon-success: #00b74a;
  --toastify-color-icon-warning: #ffa900;
  --toastify-color-icon-error: #f93154;
  --toastify-color-icon-progress-default: #fbfffe;
  --toastify-color-icon-progress-dark: #001514;
  --toastify-color-icon-progress-light: #fbfffe;
  --toastify-color-icon-progress-info: #97cc04;
  --toastify-color-icon-progress-success: #00b74a;
  --toastify-color-icon-progress-warning: #ffa900;
  --toastify-color-icon-progress-error: #f93154;
  --toastify-color-background: #001514;
  --toastify-color-progress-bar: #fbfffe;
  --toastify-timing: 5000ms;
  --toastify-font-family: "Roboto", sans-serif;
  --toastify-font-size: 1rem;
  --toastify-font-weight: 400;
  --toastify-line-height: 1.5;
  --toastify-letter-spacing: 0.01rem;
  --toastify-max-width: 800px;
  --toastify-margin: 0.5rem;
  --toastify-padding: 1rem;
  --toastify-border-radius: 4px;
  --toastify-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  --toastify-z-index: 9999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--primary);
  margin: 0.5rem auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

input {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text);
  outline: 0;
}

input::placeholder {
  color: var(--grey-transparent);
}

input:focus {
  border: 1px solid var(--primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15dvh;
}

nav h2 {
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary);
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--text);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--text);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-full {
  width: 100%;
}

.link {
  color: var(--primary);
  font-weight: 700;
}

/* Pages > Login */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100dvh;
}

.auth-container form p {
  font-size: 1rem;
  font-weight: 100;
  color: var(--grey);
}